openapi: 3.0.3
info:
  title: AI Interviewer MVP - HR Screening API
  description: |
    API для автоматизированной системы первичного HR-скрининга на базе AI-интервьюера.
    Система включает модуль AI-интервьюера с реальным анализом речи и эмоций,
    обработку согласий на ПДн с цифровыми подписями (ГОСТ Р 34.10-2012),
    и интеграцию с ATS-платформами (1C, Workable, Greenhouse).
    
    Основные возможности:
    - Проведение AI-интервью с 3D-аватаром через Unity WebAssembly
    - Распознавание речи (Whisper, точность 95%+)
    - Анализ эмоций (8 базовых эмоций, точность 82%)
    - Анализ микровыражений (43 параметра)
    - Генерация адаптивных вопросов (ollama + qwen3, контекст 8000 токенов)
    - Формирование структурированных отчетов с рекомендациями
    - Swipe-интерфейс для HR решений (Vue + Tauri)
    - Полное соответствие 152-ФЗ "из коробки"
  version: 1.0.0
  contact:
    name: Техническая поддержка AI Interviewer
    email: support@ai-interviewer.com
  license:
    name: Proprietary
    url: https://ai-interviewer.com/license

servers:
  - url: https://api.ai-interviewer.com/v1
    description: Продакшен сервер
  - url: https://sandbox.ai-interviewer.com/v1
    description: Тестовая среда

tags:
  - name: Аутентификация
    description: Авторизация и управление доступом
  - name: Кандидаты
    description: Управление профилями кандидатов
  - name: Согласия
    description: Обработка согласий на ПДн (152-ФЗ)
  - name: Интервью
    description: Проведение AI-интервью с 3D-аватаром
  - name: Отчеты
    description: AI-анализ и генерация отчетов
  - name: HR-решения
    description: Принятие решений по кандидатам
  - name: Интеграции
    description: Синхронизация с ATS системами
  - name: Мониторинг
    description: Системные метрики и здоровье

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ConsentSignature:
      type: apiKey
      in: header
      name: X-Consent-Signature
      description: ЭЦП подпись по ГОСТ Р 34.10-2012
  
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          example: "invalid_request"
        error_description:
          type: string
          example: "Неверный формат запроса"
        timestamp:
          type: string
          format: date-time
          example: "2024-01-15T12:00:00Z"
    
    Candidate:
      type: object
      required:
        - candidate_id
        - full_name
        - email
      properties:
        candidate_id:
          type: string
          format: uuid
          example: "cand_abc123def456"
        full_name:
          type: string
          example: "Иванов Иван Иванович"
        email:
          type: string
          format: email
          example: "ivanov@example.com"
        phone:
          type: string
          example: "+79161234567"
        vacancy_id:
          type: string
          example: "vac_123"
        status:
          type: string
          enum: [new, interview_scheduled, interview_completed, in_review, shortlisted, rejected, hired]
          example: "new"
    
    Consent:
      type: object
      required:
        - consent_id
        - status
      properties:
        consent_id:
          type: string
          format: uuid
          example: "cons_xyz789"
        status:
          type: string
          enum: [pending, signed, revoked, expired]
          example: "signed"
        signed_at:
          type: string
          format: date-time
        digital_signature:
          $ref: '#/components/schemas/DigitalSignature'
    
    DigitalSignature:
      type: object
      properties:
        algorithm:
          type: string
          example: "ГОСТ Р 34.10-2012"
        signature:
          type: string
          example: "base64_encoded_signature"
        valid:
          type: boolean
          example: true
    
    InterviewSession:
      type: object
      properties:
        interview_id:
          type: string
          format: uuid
          example: "int_123456789"
        status:
          type: string
          enum: [created, in_progress, completed, cancelled, failed]
          example: "in_progress"
        candidate_url:
          type: string
          format: url
          example: "https://interview.ai-interviewer.com/session/int_123456789"
        websocket_url:
          type: string
          format: url
          example: "wss://ws.ai-interviewer.com/v1/sessions/int_123456789"
    
    AIReport:
      type: object
      properties:
        report_id:
          type: string
          format: uuid
        overall_score:
          type: number
          format: float
          minimum: 1
          maximum: 10
          example: 8.7
        recommendation:
          type: string
          enum: [strong_hire, hire, consider, weak_candidate, reject]
          example: "strong_hire"
        competency_assessment:
          type: array
          items:
            $ref: '#/components/schemas/CompetencyAssessment'
        emotional_profile:
          $ref: '#/components/schemas/EmotionalProfile'
    
    CompetencyAssessment:
      type: object
      properties:
        competency:
          type: string
          example: "технические_навыки"
        score:
          type: number
          format: float
          minimum: 1
          maximum: 10
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
    
    EmotionalProfile:
      type: object
      properties:
        dominant_emotion:
          type: string
          enum: [neutral, happiness, sadness, anger, fear, surprise, disgust, contempt]
          example: "happiness"
        sincerity_score:
          type: number
          format: float
          minimum: 0
          maximum: 1
          example: 0.91
        microexpressions_count:
          type: integer
          example: 43
    
    HRDecision:
      type: object
      properties:
        decision:
          type: string
          enum: [shortlist, reject, hold, schedule_interview]
          example: "shortlist"
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
          example: 0.9

paths:
  # ==================== АУТЕНТИФИКАЦИЯ ====================
  /auth/token:
    post:
      tags:
        - Аутентификация
      summary: Получить JWT токен
      description: Аутентификация пользователя и получение токена доступа
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
                - password
              properties:
                username:
                  type: string
                  example: "hr_manager@company.com"
                password:
                  type: string
                  example: "secure_password_123"
                device_id:
                  type: string
                  example: "device-001"
      responses:
        '200':
          description: Успешная аутентификация
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string
                    example: "bearer"
                  expires_in:
                    type: integer
                    example: 3600
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                      role:
                        type: string
                        enum: [hr_manager, recruiter, admin]
        '401':
          description: Неверные учетные данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ==================== КАНДИДАТЫ ====================
  /candidates:
    get:
      tags:
        - Кандидаты
      summary: Получить список кандидатов
      description: |
        Получение списка кандидатов с фильтрацией по статусу, вакансии и дате.
        Поддерживает пагинацию и сортировку.
      security:
        - BearerAuth: []
      parameters:
        - name: vacancy_id
          in: query
          schema:
            type: string
          description: Фильтр по ID вакансии
        - name: status
          in: query
          schema:
            type: string
            enum: [new, interview_scheduled, interview_completed, in_review, shortlisted, rejected, hired]
          description: Фильтр по статусу кандидата
        - name: date_from
          in: query
          schema:
            type: string
            format: date
          description: Начальная дата для фильтрации
        - name: date_to
          in: query
          schema:
            type: string
            format: date
          description: Конечная дата для фильтрации
        - name: sort_by
          in: query
          schema:
            type: string
            enum: [created_at, score, name]
          description: Поле для сортировки
        - name: sort_order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
          description: Порядок сортировки
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Номер страницы
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Количество записей на странице
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  candidates:
                    type: array
                    items:
                      $ref: '#/components/schemas/Candidate'
                  pagination:
                    type: object
                    properties:
                      total:
                        type: integer
                      page:
                        type: integer
                      limit:
                        type: integer
                      pages:
                        type: integer

    post:
      tags:
        - Кандидаты
      summary: Создать профиль кандидата
      description: Создание нового профиля кандидата для AI-скрининга
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - vacancy_id
                - personal_data
              properties:
                vacancy_id:
                  type: string
                  example: "vac_123"
                personal_data:
                  type: object
                  required:
                    - full_name
                    - email
                  properties:
                    full_name:
                      type: string
                      example: "Иванов Иван Иванович"
                    email:
                      type: string
                      format: email
                      example: "ivanov@example.com"
                    phone:
                      type: string
                      example: "+79161234567"
                source:
                  type: string
                  example: "hh.ru"
                metadata:
                  type: object
                  properties:
                    experience_years:
                      type: integer
                    expected_salary:
                      type: number
                    skills:
                      type: array
                      items:
                        type: string
      responses:
        '201':
          description: Профиль кандидата создан
          content:
            application/json:
              schema:
                type: object
                properties:
                  candidate_id:
                    type: string
                    format: uuid
                  consent_url:
                    type: string
                    format: url
                  interview_scheduled:
                    type: boolean
                  next_steps:
                    type: array
                    items:
                      type: string

  /candidates/{candidate_id}:
    get:
      tags:
        - Кандидаты
      summary: Получить детали кандидата
      description: Получение полной информации о кандидате, включая историю интервью и решений
      security:
        - BearerAuth: []
      parameters:
        - name: candidate_id
          in: path
          required: true
          schema:
            type: string
          description: ID кандидата
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Candidate'

  # ==================== СОГЛАСИЯ НА ПДН ====================
  /candidates/{candidate_id}/consent:
    post:
      tags:
        - Согласия
      summary: Создать согласие на обработку ПДн
      description: |
        Генерация формы согласия на обработку персональных данных.
        Форма соответствует требованиям 152-ФЗ.
      security:
        - BearerAuth: []
      parameters:
        - name: candidate_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                purpose:
                  type: string
                  example: "Проведение AI-интервью для вакансии Senior Developer"
                data_categories:
                  type: array
                  items:
                    type: string
                  example: ["видеозапись", "аудиозапись", "транскрипт"]
                retention_period_days:
                  type: integer
                  default: 90
                language:
                  type: string
                  default: "ru"
      responses:
        '201':
          description: Форма согласия создана
          content:
            application/json:
              schema:
                type: object
                properties:
                  consent_id:
                    type: string
                    format: uuid
                  consent_url:
                    type: string
                    format: url
                  qr_code_url:
                    type: string
                    format: url
                  expires_at:
                    type: string
                    format: date-time
                  status:
                    type: string
                    enum: [pending, signed, revoked, expired]

  /consents/{consent_id}/sign:
    post:
      tags:
        - Согласия
      summary: Подписать согласие электронной подписью
      description: |
        Подписание согласия на обработку ПДн с использованием ЭЦП
        по ГОСТ Р 34.10-2012.
      security:
        - ConsentSignature: []
      parameters:
        - name: consent_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - digital_signature
                - signed_data
              properties:
                digital_signature:
                  type: string
                  description: Base64-encoded ЭЦП подпись
                signed_data:
                  type: object
                  properties:
                    full_name:
                      type: string
                    email:
                      type: string
                    ip_address:
                      type: string
                    user_agent:
                      type: string
      responses:
        '200':
          description: Согласие успешно подписано
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consent'

  /consents/{consent_id}/status:
    get:
      tags:
        - Согласия
      summary: Проверить статус согласия
      description: Получение текущего статуса и информации о подписи согласия
      parameters:
        - name: consent_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consent'

  # ==================== AI-ИНТЕРВЬЮ ====================
  /interviews:
    post:
      tags:
        - Интервью
      summary: Создать сессию AI-интервью
      description: |
        Инициирование сессии AI-интервью с 3D-аватаром.
        Создает уникальную ссылку для кандидата и настраивает WebRTC-соединение.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - candidate_id
              properties:
                candidate_id:
                  type: string
                interview_type:
                  type: string
                  enum: [technical, behavioral, general]
                  default: "technical"
                settings:
                  type: object
                  properties:
                    duration_minutes:
                      type: integer
                      minimum: 10
                      maximum: 30
                      default: 20
                    language:
                      type: string
                      default: "ru"
                    avatar_type:
                      type: string
                      enum: [professional_male, professional_female, casual_male, casual_female]
                      default: "professional_male"
                    competencies:
                      type: array
                      items:
                        type: string
                    difficulty_level:
                      type: string
                      enum: [junior, middle, senior, lead]
                webhook_url:
                  type: string
                  format: url
      responses:
        '201':
          description: Сессия интервью создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterviewSession'

  /interviews/{interview_id}:
    get:
      tags:
        - Интервью
      summary: Получить статус интервью
      description: Получение текущего статуса и метрик сессии интервью
      security:
        - BearerAuth: []
      parameters:
        - name: interview_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  interview_id:
                    type: string
                  status:
                    type: string
                  current_question:
                    type: integer
                  total_questions:
                    type: integer
                  time_elapsed:
                    type: string
                  ai_metrics:
                    type: object
                    properties:
                      speech_recognition:
                        type: object
                        properties:
                          confidence:
                            type: number
                          words_processed:
                            type: integer
                      emotion_analysis:
                        type: object
                        properties:
                          dominant_emotion:
                            type: string
                          confidence_score:
                            type: number
                          microexpressions_detected:
                            type: integer

  /interviews/{interview_id}/media:
    get:
      tags:
        - Интервью
      summary: Подключиться к медиапотоку (WebRTC)
      description: |
        Установка WebRTC-соединения для передачи видео/аудио потока.
        Используется Unity WebAssembly для рендеринга 3D-аватара.
      parameters:
        - name: interview_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: WebRTC соединение установлено
          content:
            application/sdp:
              schema:
                type: string

  /interviews/{interview_id}/complete:
    post:
      tags:
        - Интервью
      summary: Завершить интервью досрочно
      description: Принудительное завершение сессии интервью
      security:
        - BearerAuth: []
      parameters:
        - name: interview_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                notes:
                  type: string
      responses:
        '200':
          description: Интервью завершено

  # ==================== ОТЧЕТЫ И АНАЛИЗ ====================
  /interviews/{interview_id}/report:
    get:
      tags:
        - Отчеты
      summary: Получить AI-отчет по интервью
      description: |
        Получение структурированного отчета AI-анализа.
        Отчет включает оценку по компетенциям, эмоциональный профиль,
        анализ речи и рекомендацию.
      security:
        - BearerAuth: []
      parameters:
        - name: interview_id
          in: path
          required: true
          schema:
            type: string
        - name: format
          in: query
          schema:
            type: string
            enum: [json, pdf, html]
            default: json
          description: Формат отчета
        - name: include_video
          in: query
          schema:
            type: boolean
            default: false
          description: Включать ссылки на видеофрагменты
        - name: include_raw_data
          in: query
          schema:
            type: boolean
            default: false
          description: Включать сырые данные анализа
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIReport'
            application/pdf:
              schema:
                type: string
                format: binary

  /reports/analyze:
    post:
      tags:
        - Отчеты
      summary: Запустить анализ эмоций и речи
      description: |
        Асинхронный запуск анализа видео и аудио данных.
        Использует Whisper (распознавание речи), pyAudioAnalysis и EmotiEffLib
        (анализ эмоций и микровыражений).
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - interview_id
              properties:
                interview_id:
                  type: string
                analysis_types:
                  type: array
                  items:
                    type: string
                    enum: [speech_recognition, emotion_analysis, microexpressions, competency_assessment]
                  default: ["speech_recognition", "emotion_analysis", "microexpressions"]
                callback_url:
                  type: string
                  format: url
      responses:
        '202':
          description: Анализ запущен
          content:
            application/json:
              schema:
                type: object
                properties:
                  analysis_id:
                    type: string
                  status:
                    type: string
                  estimated_completion:
                    type: string
                    format: date-time

  /reports/compare:
    post:
      tags:
        - Отчеты
      summary: Сравнить нескольких кандидатов
      description: Сравнительный анализ кандидатов по заданным критериям
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - candidate_ids
              properties:
                candidate_ids:
                  type: array
                  items:
                    type: string
                comparison_type:
                  type: string
                  enum: [radar_chart, ranking, side_by_side]
                  default: "ranking"
                include_details:
                  type: boolean
                  default: true
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  comparison_id:
                    type: string
                  ranking:
                    type: array
                    items:
                      type: object
                      properties:
                        candidate_id:
                          type: string
                        rank:
                          type: integer
                        overall_score:
                          type: number
                        strengths:
                          type: array
                          items:
                            type: string
                        weaknesses:
                          type: array
                          items:
                            type: string
                  visualization_url:
                    type: string
                    format: url

  # ==================== HR-РЕШЕНИЯ ====================
  /candidates/{candidate_id}/decision:
    post:
      tags:
        - HR-решения
      summary: Принять решение по кандидату
      description: |
        Зафиксировать решение HR по кандидату через swipe-интерфейс.
        Решение автоматически синхронизируется с ATS системами.
      security:
        - BearerAuth: []
      parameters:
        - name: candidate_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - decision
              properties:
                decision:
                  type: string
                  enum: [shortlist, reject, hold, schedule_interview]
                confidence:
                  type: number
                  format: float
                  minimum: 0
                  maximum: 1
                notes:
                  type: string
                next_steps:
                  type: array
                  items:
                    type: object
                    properties:
                      action:
                        type: string
                      scheduled_for:
                        type: string
                        format: date-time
                      interviewer:
                        type: string
                sync_to_ats:
                  type: boolean
                  default: true
      responses:
        '200':
          description: Решение принято
          content:
            application/json:
              schema:
                type: object
                properties:
                  decision_id:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
                  status:
                    type: string
                  ats_sync_status:
                    type: string
                  notifications_sent:
                    type: array
                    items:
                      type: string

  /dashboard/overview:
    get:
      tags:
        - HR-решения
      summary: Получить панель управления HR
      description: |
        Получение сводной информации для HR dashboard.
        Включает метрики эффективности, кандидатов на рассмотрении и аналитику.
      security:
        - BearerAuth: []
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [day, week, month, quarter]
            default: week
          description: Период для агрегации данных
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  metrics:
                    type: object
                    properties:
                      total_candidates:
                        type: integer
                      avg_processing_time:
                        type: string
                      avg_ai_score:
                        type: number
                      shortlist_rate:
                        type: string
                      time_to_hire:
                        type: string
                  pending_reviews:
                    type: array
                    items:
                      $ref: '#/components/schemas/Candidate'
                  recent_activity:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: string
                          format: date-time
                        action:
                          type: string
                        candidate_name:
                          type: string

  # ==================== ИНТЕГРАЦИИ С ATS ====================
  /integrations/ats/sync:
    post:
      tags:
        - Интеграции
      summary: Синхронизация данных с ATS системами
      description: |
        Синхронизация данных кандидатов, статусов и отчетов
        с внешними ATS системами (1C, Workable, Greenhouse).
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ats_system
                - operation
                - data
              properties:
                ats_system:
                  type: string
                  enum: [1c_zup, workable, greenhouse, custom]
                operation:
                  type: string
                  enum: [create_candidate, update_status, attach_report, sync_all]
                data:
                  type: object
                callback_url:
                  type: string
                  format: url
      responses:
        '202':
          description: Синхронизация запущена
          content:
            application/json:
              schema:
                type: object
                properties:
                  sync_id:
                    type: string
                  status:
                    type: string
                  estimated_completion:
                    type: string
                    format: date-time

  /webhooks/ats/candidate:
    post:
      tags:
        - Интеграции
      summary: Webhook для получения новых кандидатов из ATS
      description: |
        Прием webhook-уведомлений от ATS систем о новых кандидатах.
        Поддерживает форматы 1C, Workable и Greenhouse.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/WorkableWebhook'
                - $ref: '#/components/schemas/GreenhouseWebhook'
                - $ref: '#/components/schemas/CustomWebhook'
      responses:
        '200':
          description: Webhook обработан
          content:
            application/json:
              schema:
                type: object
                properties:
                  processed:
                    type: boolean
                  candidate_id:
                    type: string
                  interview_url:
                    type: string
                    format: url

  # ==================== МОНИТОРИНГ И ЗДОРОВЬЕ ====================
  /system/health:
    get:
      tags:
        - Мониторинг
      summary: Проверка здоровья системы
      description: Получение статуса всех компонентов системы
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [healthy, degraded, unhealthy]
                  timestamp:
                    type: string
                    format: date-time
                  components:
                    type: object
                    properties:
                      database:
                        type: object
                        properties:
                          status:
                            type: string
                          latency_ms:
                            type: number
                      ai_processing:
                        type: object
                        properties:
                          status:
                            type: string
                          active_sessions:
                            type: integer
                          gpu_utilization:
                            type: number
                      media_server:
                        type: object
                        properties:
                          status:
                            type: string
                          active_streams:
                            type: integer
                          uptime:
                            type: string
                  version:
                    type: string
                  uptime:
                    type: string

  /system/metrics:
    get:
      tags:
        - Мониторинг
      summary: Получить системные метрики
      description: Получение метрик производительности и использования системы
      security:
        - BearerAuth: []
      parameters:
        - name: time_range
          in: query
          schema:
            type: string
            enum: [1h, 24h, 7d, 30d]
            default: 24h
        - name: granularity
          in: query
          schema:
            type: string
            enum: [1m, 5m, 1h, 1d]
            default: 1h
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                    format: date-time
                  metrics:
                    type: object
                    properties:
                      active_sessions:
                        type: integer
                      concurrent_sessions_peak:
                        type: integer
                      avg_response_time:
                        type: string
                      error_rate:
                        type: string
                      uptime:
                        type: string
                      api_requests:
                        type: object
                  resource_utilization:
                    type: object
                    properties:
                      cpu:
                        type: string
                      memory:
                        type: string
                      gpu:
                        type: string
                      storage:
                        type: string

  /audit/logs:
    get:
      tags:
        - Мониторинг
      summary: Получить журналы аудита 152-ФЗ
      description: Получение журналов операций с персональными данными
      security:
        - BearerAuth: []
      parameters:
        - name: date_from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: operation_type
          in: query
          schema:
            type: string
            enum: [consent_signed, data_access, data_modification, data_deletion]
        - name: user_id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: string
                          format: date-time
                        operation:
                          type: string
                        user_id:
                          type: string
                        resource_id:
                          type: string
                        details:
                          type: object
                  total:
                    type: integer

